In [1]:
import pandas as pd
import numpy as np
renting_table = pd.read_csv("2018_lloguer_preu_trim.csv")
renting_table_clean = renting_table.copy()
renting_table_clean = renting_table_clean[renting_table['Lloguer_mitja'] == "Lloguer mitjà mensual (Euros/mes)"]
renting_table_clean = renting_table_clean[["Nom_Districte", "Preu"]]
renting_table_clean = renting_table_clean.groupby(["Nom_Districte"]).mean()[["Preu"]]
renting_table_clean = renting_table_clean.reset_index()
renting_table_clean

         Nom_Districte         Preu
0         Ciutat Vella   929.106250
1             Eixample  1024.575000
2               Gràcia   873.446000
3       Horta-Guinardó   750.917750
4            Les Corts  1238.325833
5           Nou Barris   648.947561
6          Sant Andreu   731.195200
7           Sant Martí   919.760000
8       Sants-Montjuïc   799.807143
9  Sarrià-Sant Gervasi  1254.222500

In [2]:
import pymysql
from sqlalchemy import create_engine
driver = 'mysql+pymysql:'
user = 'root'
password = 'root'
ip = '127.0.0.1'
database = 'project_2_database_bcn'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
renting_table_clean.to_sql("renting_database_bcn",engine,if_exists = 'replace')