In [18]:
####

In [3]:
import pandas as pd
import numpy as np
immigrants_by_nationality = pd.read_csv("immigrants_by_nationality.csv")
immigrants_by_nationality
immigrants_by_nationality_clean = immigrants_by_nationality.copy()
immigrants_by_nationality_clean = immigrants_by_nationality_clean[["Year","District Name","Nationality","Number"]]
immigrants_by_nationality_clean = immigrants_by_nationality_clean.loc[immigrants_by_nationality_clean['Year'] == 2017]
immigrants_by_nationality_clean = immigrants_by_nationality_clean.groupby(["District Name","Year"]).sum()[["Number"]]
immigrants_by_nationality_clean = immigrants_by_nationality_clean.drop(["No consta"])
immigrants_by_nationality_clean = immigrants_by_nationality_clean.reset_index()
immigrants_by_nationality_clean

         District Name  Year  Number
0         Ciutat Vella  2017   12611
1             Eixample  2017   19047
2               Gràcia  2017    7254
3       Horta-Guinardó  2017    7799
4            Les Corts  2017    4375
5           Nou Barris  2017    8274
6          Sant Andreu  2017    6335
7           Sant Martí  2017   12720
8       Sants-Montjuïc  2017   11683
9  Sarrià-Sant Gervasi  2017    7227

In [4]:
import pymysql
from sqlalchemy import create_engine
driver = 'mysql+pymysql:'
user = 'root'
password = 'root'
ip = '127.0.0.1'
database = 'project_2_database_bcn'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
immigrants_by_nationality_clean.to_sql("immigrants_by_nationality_database_bcn",engine,if_exists = 'replace')