In [ ]:
####

In [3]:
import pandas as pd
import numpy as np
population = pd.read_csv("population.csv")
population_clean = population.copy()
population_clean = population_clean.drop(["District.Code","Neighborhood.Code","Neighborhood.Name","Gender","Age"], axis = 1)
population_clean = population_clean.loc[population_clean['Year'] == 2017]
population_clean = population_clean.groupby(["District.Name"]).sum()[["Number"]]
population_clean = population_clean.reset_index()
population_clean

         District.Name  Number
0         Ciutat Vella  101387
1             Eixample  266416
2               Gràcia  121347
3       Horta-Guinardó  168751
4            Les Corts   82033
5           Nou Barris  166579
6          Sant Andreu  147594
7           Sant Martí  235513
8       Sants-Montjuïc  181910
9  Sarrià-Sant Gervasi  149279

In [9]:
import pymysql
from sqlalchemy import create_engine
driver = 'mysql+pymysql:'
user = 'root'
password = 'root'
ip = '127.0.0.1'
database = 'project_2_database_bcn'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
population_clean.to_sql("population_database_bcn",engine,if_exists = 'replace')