In [1]:
import pandas as pd
import numpy as np
hospitals_table = pd.read_csv("S002_Hospitals_I_dAtencio_Primaria.csv")
hospitals_table_clean = hospitals_table.copy()
hospitals_table_clean = hospitals_table_clean[["NOM_DISTRICTE", "HORARI_HORES_INICI"]]
hospitals_table_clean = hospitals_table_clean.groupby(["NOM_DISTRICTE"]).count()[["HORARI_HORES_INICI"]]
hospitals_table_clean = hospitals_table_clean.reset_index()
hospitals_table_clean

         NOM_DISTRICTE  HORARI_HORES_INICI
0         Ciutat Vella                  33
1             Eixample                  39
2               Gràcia                  24
3       Horta-Guinardó                  32
4            Les Corts                  10
5           Nou Barris                  47
6          Sant Andreu                  28
7           Sant Martí                  58
8       Sants-Montjuïc                  40
9  Sarrià-Sant Gervasi                  12

In [5]:
import pymysql
from sqlalchemy import create_engine
driver = 'mysql+pymysql:'
user = 'root'
password = 'root'
ip = '127.0.0.1'
database = 'project_2_database_bcn'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
hospitals_table_clean.to_sql("hospitals_database_bcn",engine,if_exists = 'replace')