In [1]:
####

In [16]:
import pandas as pd
import numpy as np
restaurants_bcn = pd.read_csv("restaurants_others_barcelona.csv")
restaurants_bcn_clean = restaurants_bcn.copy()
restaurants_bcn_clean = restaurants_bcn_clean[["EQUIPAMENT","NOM_DISTRICTE"]]  
restaurants_bcn_clean = restaurants_bcn_clean.drop_duplicates()
restaurants_bcn_clean = restaurants_bcn_clean.groupby(["NOM_DISTRICTE"]).count()[["EQUIPAMENT"]]
restaurants_bcn_clean = restaurants_bcn_clean.reset_index()
restaurants_bcn_clean

         NOM_DISTRICTE  EQUIPAMENT
0         Ciutat Vella         518
1             Eixample         739
2               Gràcia         189
3       Horta-Guinardó          47
4            Les Corts         136
5           Nou Barris          24
6          Sant Andreu          61
7           Sant Martí         183
8       Sants-Montjuïc         174
9  Sarrià-Sant Gervasi         261

In [17]:
import pymysql
from sqlalchemy import create_engine
driver = 'mysql+pymysql:'
user = 'root'
password = 'root'
ip = '127.0.0.1'
database = 'project_2_database_bcn'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
restaurants_bcn_clean.to_sql("restaurants_database_bcn",engine,if_exists = 'replace')