In [20]:
import pandas as pd
import numpy as np
accidents_table = pd.read_csv("accidents_2017.csv")
accidents_table_clean = accidents_table.copy()
accidents_table_clean = accidents_table_clean.drop(['Id', 'Neighborhood Name', 'Street', 'Weekday',
      'Month', 'Day', 'Part of the day', 'Mild injuries',
      'Serious injuries', 'Victims', 'Vehicles involved', 'Longitude',
      'Latitude'], axis = 1)
accidents_table_clean = accidents_table_clean.groupby(["District Name"]).count()[["Hour"]]
accidents_table_clean.columns = ['Accidents']
accidents_table_clean = accidents_table_clean.drop(['Unknown'])
accidents_table_clean = accidents_table_clean.reset_index()
accidents_table_clean

         District Name  Accidents
0         Ciutat Vella        600
1             Eixample       3029
2               Gràcia        531
3       Horta-Guinardó        743
4            Les Corts        726
5           Nou Barris        542
6          Sant Andreu        597
7           Sant Martí       1336
8       Sants-Montjuïc       1104
9  Sarrià-Sant Gervasi       1104

In [2]:
import pymysql
from sqlalchemy import create_engine
driver = 'mysql+pymysql:'
user = 'root'
password = 'root'
ip = '127.0.0.1'
database = 'project_2_database_bcn'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
accidents_table_clean.to_sql("accidents_database_bcn",engine,if_exists = 'replace')