In [43]:
## Importing

In [49]:
import pandas as pd
import numpy as np
births = pd.read_csv("births.csv")
births_clean = births.copy()
births_clean = births_clean.drop(["District Code","Neighborhood Code","Neighborhood Name","Gender"], axis = 1)
births_clean = births_clean.loc[births_clean['Year'] == 2017]
births_clean = births_clean.groupby(["District Name","Year"]).sum()[["Number"]]
births_clean = births_clean.reset_index()
births_clean

         District Name  Year  Number
0         Ciutat Vella  2017     892
1             Eixample  2017    2067
2               Gràcia  2017    1057
3       Horta-Guinardó  2017    1327
4            Les Corts  2017     644
5           Nou Barris  2017    1476
6          Sant Andreu  2017    1264
7           Sant Martí  2017    2039
8       Sants-Montjuïc  2017    1487
9  Sarrià-Sant Gervasi  2017    1273

In [50]:
import pymysql
from sqlalchemy import create_engine
driver = 'mysql+pymysql:'
user = 'root'
password = 'root'
ip = '127.0.0.1'
database = 'project_2_database_bcn'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
births_clean.to_sql("births_database_bcn",engine,if_exists = 'replace')