In [4]:
import pandas as pd
import numpy as np
underground_table = pd.read_csv("transports.csv")
underground_table_clean = underground_table.copy()
underground_table_clean = underground_table_clean[["District.Name", "Station"]]
underground_table_clean = underground_table_clean.groupby(["District.Name"]).count()[["Station"]]
underground_table_clean = underground_table_clean.reset_index()
underground_table_clean

         District.Name  Station
0         Ciutat Vella       27
1             Eixample      120
2               Gràcia       17
3       Horta-Guinardó       31
4            Les Corts       24
5           Nou Barris       39
6          Sant Andreu       40
7           Sant Martí       70
8       Sants-Montjuïc       53
9  Sarrià-Sant Gervasi       66

In [5]:
import pymysql
from sqlalchemy import create_engine
driver = 'mysql+pymysql:'
user = 'root'
password = 'root'
ip = '127.0.0.1'
database = 'project_2_database_bcn'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
underground_table_clean.to_sql("underground_database_bcn",engine,if_exists = 'replace')